.section {
    box-sizing: border-box;
    border: var(--border);
    color: var(--mainColor);
    background: var(--background);
}

.section__title {
    font: var(--font-inter-l);
    font-variation-settings: var(--font-variation-settings-l);
    padding: 5px 10px;
}

.section__img {
    width: 100%;
}

.section__img img {
    border-top: var(--border);
    border-bottom: var(--border);
    width: 100%;
}

.section__context {
    /* Pixel perfect fix */
    padding: 22px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-start;
    align-items: flex-start;
}

.section__context-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 27px;
}

.section__context-buttons {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.section__context-like {
    overflow: visible;
}

.section__context-like .sparks {
    opacity: 0;
    fill : var(--red);
}

.section__context-like .core {
    fill: var(--background);
    transition: fill 0.3s linear;
}

.section__context-like:hover .core {
    fill: var(--mainColor);
    transition: fill 0.3s linear;
}

.section__context-like:active .core,
.section__context-like.is-liked .core {
    fill: var(--red);
    transition: fill 0.3s linear;
    /*
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-timing-function: linear;
     */
}

.section__context-like .main-body {
    fill: var(--background);
    transition: fill 0.3s linear;
}

.section__context-like:hover .main-body {
    fill: var(--mainColor);
    transition: fill 0.3s 0.05s linear;
}

.section__context-like:active .main-body,
.section__context-like.is-liked .main-body {
    fill: var(--red);
    transition: fill 0.3s linear;
    /*
    animation-name: current-to-red;
    animation-fill-mode: forwards;
    animation-delay: 0.05s;
    animation-duration: 0.3s;
     */
}


.section__context-like .contour {
    fill : var(--mainColor)
}

.section__context-like.is-liked .contour {
    fill: var(--red);
    transition: fill 0.3s 0.06s linear;
    /*
    animation-name: current-to-red;
    animation-fill-mode: forwards;
    animation-delay: 0.06s;
    animation-duration: 0.3s;
     */
}

.section__context-like.is-liked .heart {
    animation: scale-heart 0.3s 0.06s ease-in;
}

.section__context-like.is-liked .sparks {
    transition: opacity ease-in 0.3s 0.3s;
    opacity: 1;
}

.section__context-btn {
    padding: 9px 17px;
    font: var(--font-start-s);
    width: 130px;
}

.section__context-btn:hover {
    box-shadow: inset 130px 0 0 0 var(--mainColor);
}

.section__paragraph {
    font: var(--font-inter-s);
    font-variation-settings: var(--font-variation-settings-s);
}