.section {
    box-sizing: border-box;
    border: var(--border);
    width: var(--width);
    color: var(--mainColor);
}

.section__title {
    font: var(--font-inter-l);
    font-variation-settings: var(--font-variation-settings-l);
    padding: 5px 10px;
}

.section__img {
    width: 100%;
}

.section__img img {
    width: 100%;
}

.section__context {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-start;
    align-items: flex-start;
}

.section__context-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 27px;
}

.section__context-buttons {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.section__context-like {

}

.section__context-like > path {
    fill : var(--mainColor);
}

.section__context-btn {
    padding: 9px 17px;
    font: var(--font-start-s);
    width: 130px;
}

.section__context-buttons:hover .section__context-btn {
    color: var(--background);
    box-shadow: inset 130px 0 0 0 var(--mainColor);
    transition: box-shadow 500ms, color 500ms;
}

.section__paragraph {
    font: var(--font-inter-s);
    font-variation-settings: var(--font-variation-settings-s);
}